.App {
  text-align: center;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* UTILS  */

@font-face {
  font-family: "Oxygen";
  src: local("Oxygen"),
    url(./assets/fonts/Oxygen-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Oxygen";
  font-weight: 300;
  src: local("Oxygen"), url(./assets/fonts/Oxygen-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Oxygen";
  font-weight: 700;
  src: local("Oxygen"), url(./assets/fonts/Oxygen-Bold.ttf) format("truetype");
}

link:focus {
  border: none;
}

* {
  font-family: Oxygen, Roboto, Arial;
}

input,
select {
  font-size: 14px;
}

.notify-text {
  text-transform: uppercase;
  color: #5cb85c;
  font-weight: 700;
  font-size: 14px;
}
.centered {
  text-align: center;
}

.italic {
  font-style: italic;
}

.active {
  font-weight: bold;
}

.btn {
  all: unset;
  border: none;
  background-color: #111;
  color: #f2f2f2;
  font-weight: bold;
  padding: 7px 12px;
  cursor: pointer;
  font-size: 14px;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-alt {
  all: unset;
  border: 1px solid #111;
  background-color: white;
  color: #111;
  font-weight: bold;
  padding: 7px 12px;
  cursor: pointer;
  font-size: 14px;
}
.responsive-menu {
  display: none;
}

.alert-text {
  color: #d9534f;
  font-weight: 700;
}

.good-text {
  color: #5cb85c;
  font-weight: 700;
}

/* Header.js */

.container {
  background-color: #111;
  color: #f2f2f2;
  margin-top: 0;
  padding: 2px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.sm-font {
  color: #888;
  font-size: 12px;
  text-align: center;
}

/* Navbar.js */
.nav-container {
  text-align: center;
}

.logo a {
  text-decoration: none;
  color: #f2f2f2;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.nav-item a {
  padding: 5px 9px;
  text-decoration: none;
  color: #111;
}

.nav-item a:hover {
  border-bottom: 2px solid #111;
  font-weight: bold;
}

/* ProductForm.js */

.form-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.form-row {
  margin: 0;
  width: 90%;
}

input[type="text"],
input[type="number"],
select {
  margin-top: 5px;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.06);
  transition: 0.2s;
}

.alert {
  padding: 20px 15px;
  background-color: #d9534f;
  color: #f2f2f2;
  text-align: center;
  font-weight: 700;
  width: 70%;
  margin-left: 10%;
  text-transform: uppercase;
}

/* SupplyForm.js */

.notify-data-container {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.query-result-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  overflow-x: hidden;
  height: 600px;
}

.query-result-list {
  list-style-type: none;
  text-align: left;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.query-result-list li {
  padding: 5px;
}

.amount-pop-up {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0;
  width: 70%;
  gap: 0;
}
.newform-container .amount-pop-up input[type="number"],
.newform-container .amount-pop-up input[type="text"] {
  width: 57%;
}

.btn-group {
  display: flex;
  gap: 5px;
}

.btn-group .btn-alt:hover {
  opacity: 0.8;
  transform: scale(0.97);
  transition: 0.1s
}

.btn-group .btn-alt {
  margin-top: 9px;
}

/* ProductForm.js */

.material-card {
  padding: 10px;
  background-color: rgb(218, 218, 218);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.material-card ul {
  list-style-type: none;
  margin: 0;
  padding: 3px;
}

.material-card .btn {
  text-align: center;
  margin-left: 400px;
  margin-bottom: 10px;
}

.navbar-container .hide {
  display: flex;
}

.hide {
  display: none;
}

.form-container select {
  padding: 8px 12px;
  width: 30%;
  text-align: center;
}

.form-container input[type="number"] {
  align-self: center;
}

/* Inventory.js */

.inventory-container {
  padding: 10px 15px;
}

/* TrackForm.js */

.special-query-result {
  margin: 10px 0px 10px -40px;
  width: 90%;
  text-align: left
}
.newform-row {
  width: 90%;
  padding: 5px 0px;
  margin-left: -60px;
}
.newform-row .form-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}

.newform-row .form-row input[type="submit"] {
  width: 15%;
  margin-top: 10px;
}
.newform-row .form-row input[type="text"] {
  width: 52%;
}

.view-all-container {
  margin-bottom: 10px;
}

.notification-panel .form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  width: 40%;
}
.notification-panel .form-row input[type="number"] {
  padding: 4px 5px;
  width: 70%;
  margin-right: 8px;
}

.notification-panel .form-row input[type="submit"] {
  margin-top: 4px;
}

.notification-panel .panel-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

/* .notification-panel .btn:hover {
  opacity: 0.7;
} */

.notification-center-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  text-align: left;
  padding: 5px 18px;
}

.notification-content {
  padding: 10px;
  width: 57%;
}

.notification {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #d9534f;
  border-radius: 20px;
  box-shadow: 0 8px 6px -6px black;
}

.notification .head {
  margin: 3px;
  color: #75201d;
  font-weight: 700;
  font-size: 1.5em;
}

.notification .subhead {
  font-size: 1.1em;
  color: #f2f2f2;
}

.pop-up-container p {
  margin: 2px;
}
.leaflet-container {
  height: 400px;
  width: 100%;
}

.form-row input[type="text"] {
  padding: 7px 12px;
  width: 30%;
  padding: 5px;
  margin-right: 20px;
}

.form-container .summary-container .response-logs {
  display: grid;
  grid-template-columns: 10fr 10fr;
  gap: 10px 50px;
}

.response-logs .chart-container {
  margin-right: 20px;
  margin-left: -20px;
}

.track-record-container {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid rgb(92, 92, 92);
  box-shadow: 0 8px 6px -6px black;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.track-record-container .method-img {
  margin-left: 10px;
  width: 100px;
}

.track-record-container .verification-img {
  margin-left: 5px;
  width: 12px;
}

.track-record-container .record-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0px;
}

.track-record-container .record-list .head {
  font-weight: 700;
  font-size: 1.5em;
}

.track-record-container .record-list .timestamp {
  font-weight: thin;
  font-size: 0.8em;
  color: #888;
  font-style: italic;
  margin: 0;
}
.track-record-container .log-item {
  margin: 0;
  padding: 0;
}

.form-collection .newform-container {
  width: 90%;
}
.form-collection input[type="text"] {
  width: 60%;
}

.form-collection p {
  font: 13px;
}

.form-container .history-container .response-logs {
  display: grid;
  grid-template-columns: 4fr 4fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

/* AddProduct.js */

.product-form-container {
  margin: 30px 0px 30px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.product-form-container .mini-nav-list {
  height: 400px;
  list-style-type: none;
  margin: 0px;
  border-right: 2px solid black;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.product-form-container .link-item a {
  text-decoration: none;
  color: #444;
  border-bottom: 1px dotted #777;
}

.product-form-container .link-item a:active {
  text-decoration: none;
  color: #222;
}

.product-form-container .link-item a:hover {
  font-weight: 700;
}

.newform-container {
  margin: 5px 20px 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.newform-container .btn {
  margin-top: 10px;
}

.newform-container input[type="text"],
.newform-container input[type="number"] {
  padding: 8px 5px;
  margin-bottom: 10px;
  width: 40%;
}

.newform-container select {
  padding: 8px;
  width: 41.3%;
  margin-bottom: 10px;
}

.form-item {
  margin-bottom: 10px;
}

.accordion-tabs {
  width: 90%;
}
.accordion-toggle {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  border: none;
  background-color: white;
  margin-bottom: 20px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.accordion-toggle:visited {
  text-decoration: black;
}

/* INVENTORY.js */

.item-container {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  background-color: rgb(235, 235, 235);
  margin-bottom: 30px;
  border-top: 2px solid rgb(1, 136, 1);
}

.item-container-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
}

/* FinancialLog.js */

.finance-container form {
  background-color: #232;
}

.costsClashContainer {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.costsClashContainer table {
  text-transform: uppercase;
  text-align: left;
  border-collapse: collapse;
}
.costsClashContainer table thead {
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #999;
}

.costsClashContainer table th,
.costsClashContainer table td {
  padding: 8px 25px;
}
.costsClashContainer tbody tr:hover {
  background-color: #222;
  color: #f2f2f2;
}

.costsClashContainer tfoot {
  border-top: 1px solid #999;
}

.form-container .product-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

.form-container .hide {
  display: none;
}

.financial-status-container .form-row {
  display: flex; 
  flex-direction: column;
  text-align: left;
  gap: 12px;
}

.financial-status-container .form-row input[type="text"] {
  width: 43%;
}
.std-cost-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.std-cost-container .cost-data tbody tr td:not(:first-of-type) {
  text-align: center;
}

.std-cost-container .cost-data tfoot tr td:not(:first-of-type) {
  text-align: center;
}

/* BankAccount.js */
.tx-content {
  width: 60%;
  margin-top: 20px;
}
.tx-container p {
  margin: 0;
  padding: 0;
}
.tx-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: left;
  padding: 20px 20px;
  margin-bottom: 15px;
  background-color: rgb(167, 189, 150);
  box-shadow: 0 8px 6px -6px black;
}

.tx-container .head .head-title {
  font-size: 1.5em;
  font-weight: 700;
}
.tx-container .head .time {
  font-weight: thin;
  font-size: 0.9em;
  color: rgb(255, 255, 255);
  font-style: italic;
  margin: 0;
  opacity: 0.8;
}
.tx-container .content p {
  padding: 2px;
}

.newform-container .panel {
  width: 90%;
}
.newform-container .panel h4 {
  text-align: left;
}

.newform-container .panel .sort-form {
  display: flex;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.newform-container .panel select {
  width: 18%;
  padding: 2px;
}

.account-details {
  padding: 3px 15px;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

.account-details p {
  margin: 0;
  padding: 0;
}

.bank {
  width: 90%;
}
.bank input[type="text"],
.bank input[type="number"] {
  width: 40%;
}

.custom-hr-half {
  width: 50%;
  margin-left: 0;
}

.custom-hr-full {
  width: 100%;
}

.product-data-container table {
  text-transform: uppercase;
  text-align: center;
  border-collapse: collapse;
}
.product-data-container table thead {
  color: #f2f2f2;
  background-color: #222;
  font-weight: 700;
}

.product-data-container table th,
.product-data-container table td {
  padding: 8px 25px;
}
.product-data-container tbody tr:hover {
  background-color: rgb(221, 220, 220);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {
  .btn,
  .btn-alt{
    font-size: 12.5px;
  }
  .sub-head {
    font-size: 13px;
  }
  .alert {
    font-size: 14px;
  }
  .custom-hr-half {
    width: 100%;
  }

  .notify-text {
    font-size: 11px;
  }

  .container {
    font-size: 0.8em;
    flex-direction: column;
    padding-bottom: 15px;
  }

  .navbar-container .nav-list {
    gap: 10px;
    margin: 0;
    padding: 10px;
    flex-direction: column;
    padding-top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.938);
    overflow-x: hidden;
    z-index: 1;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
  }

  .navbar-container .nav-list a {
    color: #f2f2f2;
  }

  .navbar-container .hide {
    width: 0%;
    opacity: 0;
    visibility: hidden;
  }

  .navbar-container .nav-list a:hover {
    border-bottom: none;
  }

  .nav-item {
    margin: 0;
    padding: 5px 0px;
    border-bottom: 1px solid #999;
    text-align: left;
    color: #f2f2f2;
  }

  .nav-item:last-child {
    border-bottom: none;
  }

  .form-container {
    font-size: 14px;
  }

  .form-container .form-row {
    display: flex;
    gap: 7px;
    flex-direction: column;
  }

  /* .form-container .form-row input {
    width: 90%;
    margin-top: 15px;
  } */

  .product-form-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
  }

  .product-form-container .link-item a {
    border: none;
  }

  .product-form-container .mini-nav-list {
    height: auto;
    border-right: none;
    border-bottom: 2px solid black;
    text-align: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 12px;
    padding: 0px 0px 12px 0px;
    margin-bottom: 10px;
  }

  .newform-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

  .newform-container input[type="text"],
  .newform-container input[type="number"],
  .newform-container select {
    width: 70%;
  }

  .item-container-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .responsive-menu {
    cursor: pointer;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
    padding: 5px;
    border: none;
    background-color: white;
  }

  .responsive-menu:focus {
    outline-width: thin;
  }

  .account-details {
    padding: 5px 15px;
    text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 14px;
  }

  .account-details p {
    margin-left: 5px;
  }

  .bank {
    width: 90%;
    font-size: 14px;
  }
  .bank input[type="text"],
  .bank input[type="number"] {
    width: 70%;
  }

  .product-data-container,
  .costsClashContainer {
    font-size: 12px;
    width: 90%;
    overflow-x: auto;
  }

  .form-container .summary-container .response-logs {
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-auto-rows: 1fr;
    font-size: 12px;
    gap: 10px;
  }

  .track-record-container img {
    margin-left: 2px;
    margin-top: 5px;
    width: 70px;
  }

  .track-record-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 8px;
    margin-left: 10px;
    text-align: center;
  }

  .costsClashContainer {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
  }

  .accordion-tabs .hide {
    display: none;
  }

  .newform-container .hide {
    display: none;
  }

  .response-logs .hide {
    display: none;
  }

  .chart-container .hide {
    display: none;
  }

  .query-result-container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    overflow-x: hidden;
    height: 600px;
  }

  .query-result-list {
    list-style-type: none;
    text-align: left;
    padding: 8px;
    display: flex;
    flex-direction: column;
  }

  .query-result-list li {
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .newform-container .amount-pop-up {
    text-align: center;
  }
  .newform-container .amount-pop-up input[type="number"],
  .newform-container .amount-pop-up input[type="text"] {
    width: 93%;
  }

  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px !important;
  }

  .form-container .history-container .response-logs {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-size: 12px;
  }

  .notification-center-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-align: center;
    padding: 10px;
  }

  .notification-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 92%;
  }

  .notification {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #d9534f;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px black;
  }

  .notification .head {
    margin: 3px;
    color: #721714;
    font-weight: 700;
    font-size: 1em;
  }

  .notification .subhead {
    font-size: 0.9em;
  }

  .notification-panel .form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;
    width: 80%;
  }

  .notification-panel .form-row input[type="number"] {
    padding: 5px 5px;
    width: 70%;
  }

  .notification-panel .form-row label {
    display: none;
  }

  .notification-panel .panel-control {
    text-align: center;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 20px;
    font-size: 0.9em;
  }

  .notification-panel .panel-control .btn-alt {
    margin-top: 15px;
  }

  .newform-row {
    margin-left: 0px;
  }
  .newform-row .form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .newform-row .form-row input[type="submit"] {
    width: 40%;
    margin-top: 10px;
  }
  .newform-row .form-row input[type="text"] {
    width: 80%;
  }

  .tx-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 12px;
    margin-top: 20px;
  }

  .tx-container p {
    margin: 0;
    padding: 0;
  }

  .tx-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;
    text-align: left;
    padding: 20px 20px;
    margin-bottom: 15px;
    background-color: rgb(167, 189, 150);
    box-shadow: 0 8px 6px -6px black;
  }

  .newform-container .panel h4 {
    text-align: center;
  }

  .newform-container .panel .sort-form {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .newform-container .panel select {
    margin-left: 5px;
    margin-top: 7px;
    padding: 2px;
    width: 50%;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .financial-status-container .form-row {
    text-align: center;
    align-items: center;
    
  }
  
  .financial-status-container .form-row input[type="text"] {
    width: 69%;
    margin-right: 0px;
  }

  .financial-status-container .form-row input[type="submit"] {
    margin-top:10px;
  }

  .costsClashContainer table {
    font-size: 12px;
  }
  
  .special-query-result {
    margin: 10px 0px;
    text-align: center
  }
 

  /* 
  
  */
}
