/* 
  .App {
  text-align: center;
  font-family: "Electron", Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
*/

.App {
  text-align: center;

}

 /* UTILS  */

@font-face {
  font-family: 'Oxygen';
  src: local('Oxygen'), url(./fonts/Oxygen-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Oxygen';
  font-weight: 300;
  src: local('Oxygen'), url(./fonts/Oxygen-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Oxygen';
  font-weight: 700;
  src: local('Oxygen'), url(./fonts/Oxygen-Bold.ttf) format('truetype');
}

link:focus {
  border:none;
}
* {
  font-family: Oxygen;
}

 .notify-text {
   text-transform: uppercase;
   color:  #5cb85c;
   font-weight: 700;
   font-size: 14px;
 }
 .centered {
  text-align: center;
}

.italic {
  font-style: italic;
}

.active {
  font-weight: bold;
}

.btn {
  border: none;
  /* background-color: rgb(31, 31, 151); */
  background-color: #111;
  color: #f2f2f2;
  font-weight: bold;
  padding: 7px 12px;
  cursor: pointer;
}

.btn-alt {
  border: none;
  /* background-color: rgb(31, 31, 151); */
  background-color: white;
  color: #111;
  font-weight: bold;
  padding: 7px 12px;
  cursor: pointer;
}
.responsive-menu {
  display:none;
}
/* Header.js */

.container {
  background-color: #111;
  color: #f2f2f2;
  margin-top: 0;
  padding: 2px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.sm-font {
  color: #888;
  font-size: 12px;
  text-align: center;
}

/* Navbar.js */
.nav-container {
  text-align: center;
}

.logo a {
  text-decoration: none;
  color: #f2f2f2;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}


/* 
.nav-item {
  display: inline;
} */

.nav-item a {
  padding: 5px 9px;
  text-decoration: none;
  color: #111;
}

.nav-item a:hover {
  border-bottom: 2px solid #111;
  font-weight: bold;
}

/* ProductForm.js */

.form-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.form-row {
  margin: 0;
  width: 90%;
}

input[type="text"], input[type="number"], select {
  margin-top: 5px;
}

.btn:hover {
  opacity: 0.9;
}

/* ProductForm.js */
.material-card {
  padding: 10px;
  background-color: rgb(218, 218, 218);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.material-card ul {
  list-style-type: none;
  margin: 0;
  padding: 3px;
}

.material-card .btn {
  text-align: center;
  margin-left: 400px;
  margin-bottom: 10px;
}

.hide {
  display: flex;
}

.form-container select {
  padding: 8px 12px;
  width: 30%;
  text-align: center;
  /* font-family: "Courier New", Courier, monospace; */
}

.form-container input[type="number"] {
  /* padding: 4px; */
  align-self: center;
  /* font-family: "Courier New", Courier, monospace; */
}

/* Inventory.js */
.inventory-container {
  padding: 10px 15px;
}

/* TrackForm.js */
.form-row input[type="text"] {
  padding: 7px 12px;
  width: 30%;
  padding: 5px;
  /* font-family: "Courier New", Courier, monospace; */
  margin-right: 20px;
}

/* AddProduct.js */
.product-form-container {
  margin: 30px 0px 30px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.product-form-container .mini-nav-list {
  height: 400px;
  list-style-type: none;
  margin: 0px;
  border-right: 2px solid black;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.product-form-container .link-item a {
  text-decoration: none;
  color: #444;
  border-bottom: 1px dotted #777;
}

.product-form-container .link-item a:active {
  text-decoration: none;
  color: #222;
  
}

.product-form-container .link-item a:hover {
  font-weight: 700;
}

.newform-container {
  margin: 5px 20px 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.newform-container .btn {
  margin-top: 10px;
}

.newform-container input[type="text"],
.newform-container input[type="number"] {
  padding: 8px 5px;
  margin-bottom: 10px;
  width: 40%;
  /* font-family: "Courier New", Courier, monospace; */
}

.newform-container select {
  padding: 8px;
  width: 40%;
  margin-bottom: 10px;
  /* font-family: "Courier New", Courier, monospace; */
}

.form-item {
  margin-bottom: 10px;
}

/* INVENTORY.js */

.item-container {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  background-color: rgb(235, 235, 235);
  margin-bottom: 30px;
  border-top: 2px solid rgb(1, 136, 1);
}

.item-container-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
}

/* FinancialLog.js */
.finance-container form {
  background-color: #232;
}

.costsClashContainer {
  margin-top: 40px;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {

  .container {
    font-size: 0.8em;
    flex-direction: column;
    padding-bottom: 15px;
  }

  .navbar-container .nav-list {
    gap: 3px;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    flex-direction: column;
    padding-top: 0px;
  }

  .hide {
    display: none;
  }

  .navbar-container .nav-list a:hover {
   border-bottom: none;
  }


  .nav-item {
    margin: 0;
    padding: 5px 0px;
    border-bottom:  1px solid #999;
    text-align: center;
  }

  .nav-item:last-child{
    border-bottom: none;
  }

  .form-container {
    font-size:  14px;
  }

  .form-container .form-row {
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  .form-container .form-row input {
    width: 90%;
  }

  .product-form-container {
    width: 100%;
    grid-template-columns: 1fr;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
  }

  .product-form-container .link-item a {
    border: none;
  }

  .product-form-container .mini-nav-list {
    height: auto;
    border-right: none;
    border-bottom:  2px solid black;
    text-align: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 12px;
    padding: 0px 0px 12px 0px;
    margin-bottom: 10px;

  }

  .newform-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

  .newform-container input[type="text"] ,
  .newform-container input[type="number"],
  .newform-container select{
    width: 70%;
  }

  .item-container-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .responsive-menu {
    cursor:pointer;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
    padding: 5px;
    border:none;
    background-color: white;
  }

  .responsive-menu:focus {
    outline-width: thin;
  }
  
}




